[Desktop Entry]
Name=Profanation DX
Comment=Profanation Deluxe port
Exec=profanation.dge
Icon=profanation
Categories=games;
Terminal=false
Type=Application
StartupNotify=true
X-OD-Manual=profanation.man.txt
